<div class= "answer">
  <h2><%=@coach_answer[0]%></h2>
  <h2 class= "signature">-You</h2>
</div>

<div class= "answer coach">
  <h2><%=@coach_answer[1]%></h2>
  <h2 class= "signature">-Your coach</h2>
</div>

<%= link_to "Ask something else", ask_path %>